/*
{
  box-sizing: border-box;
}

// Container for flexboxes //
.row {
  display: flex;
  flex-wrap: wrap;
}

// Create three equal columns //
.column {
  flex: 33%;
  padding: 20px;
}
@media screen and (min-width: 600px) {
  div {
    font-size: 20px;
  }
}
// On screens that are 992px wide or less, go from four columns to two columns //
@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
  div {
    font-size: 10px;
  }
}

// On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other //
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    font-size: 30px;
  }
}

*/
h5 {
  color: #251d3a;
  line-height: 2;
}

li {
  color: black;
  margin: 10px;
  line-height: 2em;
  text-decoration: none;
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
}

p {
  text-align: left;
}

footer {
  margin-top: 20px;
  padding: 10px;
}

/* Linker */

.linker {
  background-image: url('../images/background2.jpg');
}
.link {
  margin: 60px 50px;
  padding: 5px 5px;
}

.link-tekst {
  color: black;
}

/* Om meg */

.meg {
  background-image: url('../images/background4.jpg');
  background-size: cover;
}

/* Mine prosjekter */

#mine-prosjekter {
  background-image: url('../images/background8.jpg');
  background-size: cover;
}

.prosjekter-tekst {
  color: black;
  padding: 50px 0 10px 50px;
}

.prosjekter {
  margin: 20px 100px;
  padding-top: 20px;
}

/* Kurs */

.kurs {
  background-image: url('../images/background3.jpg');
  background-size: cover;
}
.kurs-tekst {
  color: black;
  padding: 30px 30px;
  margin: 30px 30px;
}
.kurs-boks {
  margin: 10px 60px;
}

.icon {
  color: black;
}

.icon:hover {
  color: orange;
}
.icon2:hover {
  color: white;
}

/* Kontakter */

.kontakter-side {
  background-image: url('../images/background5.jpg');
  background-size: cover;
}

/* CV */

.cv {
  background-color: #ffeeee;
}

.cv-heading {
  margin: 40px 100px 20px;
}
.cv-andreopplysninger {
  margin-top: 50px;
}

/* BOOKS */
#books {
  background-image: url('../images/book.jpg');
  background-size: cover;
}
#booksHeading {
  margin: 5% 27%;
  text-align: center;
}

#booksLinks {
  text-decoration: none;
}
