/*
{
  box-sizing: border-box;
}

// Container for flexboxes //
.row {
  display: flex;
  flex-wrap: wrap;
}

// Create three equal columns //
.column {
  flex: 33%;
  padding: 20px;
}

// On screens that are 992px wide or less, go from four columns to two columns //
@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
  div {
    font-size: 10px;
  }
}

// On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other //
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
    font-size: 30px;
  }
}

*/
@media only screen and (max-width: 600px) {
  form {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
  }
}

@media only screen and (max-width: 1024px) {
  /* Gjemme for mindre skjermer enn desktop: */
  div.slider {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  form {
    width: 50%;
  }
  .bilde {
    max-width: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  b {
    font-size: 1.5rem;
  }
  i {
    font-size: 1.5rem;
  }
}

header {
  margin-bottom: 20px;
}

h1 {
  margin: 20px;
  padding: 20px;
  font-family: cursive;
}
h5 {
  color: #251d3a;
  line-height: 2;
}

li {
  color: black;
  margin: 10px;
  line-height: 2em;
  text-decoration: none;
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
}

p {
  text-align: left;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.center {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mySlides {
  display: none;
}
/* Linker */

.link {
  margin: 50px;
  padding: 5px 5px;
}

.link-tekst {
  margin: 40px;
  padding: 5px;
  color: black;
}

/* Background */

.meg {
  background-image: url('../images/background4.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
}

.icon {
  color: black;
}

.icon:hover {
  color: orange;
}
.icon2:hover {
  color: white;
}

/* CV */

.cv-heading {
  margin: 40px 100px 20px;
}
